.main-content__cover{
  display: block;
  width: 70%;
  margin:auto;
  @include for-tablet {
    width: 50%;
  }
  @include for-pc {
    width: 30%;
  }
}
.main-content__fest{
  display: block;
  width: 95%;
  margin:auto;
  @include for-tablet {
    width: 90%;
  }
}
.content-text{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}
.main-content__first-text{
  margin-right: 10%;
  margin-left: 10%;
  font-size: $iron-festival-font-md;
  font-style: italic;
}
.main-content__text{
  margin-right: 10%;
  margin-left: 10%;
  font-size: $iron-festival-font-sm;
}
.content-text__left{
  font-size: $iron-festival-font-md;
  font-style: italic;
}
.content-text__right{
  font-size: $iron-festival-font-sm;
}
